<div class="footer">
  <div>
    <div class="item">
      <%= link_to root_path do %>
        <%= image_tag "home.png" %>
        <br>
        <label>HOME</label>
      <% end %>
    </div>

    <div class="item">
      <%= link_to new_event_path do %>
        <%= image_tag "add.png" %>
        <br>
        <label>NEW EVENT</label>
      <% end %>
    </div>

    <div class="item">
      <%= link_to wishlists_path do %>
        <%= image_tag "search.png" %>
        <br>
        <label>SEARCH</label>
      <% end %>
    </div>

    <div class="item">
      <%= link_to wishlists_path do %>
        <%= image_tag "clapperboard.png" %>
        <br>
        <label>WATCHLIST</label>
      <% end %>
    </div>
  </div>
</div>
