<h3>Results for <%= @event.name %></h3>

<div class="card-container" style="margin-bottom: 200px;">

<% @results.each do |result| %>

  <p>
    <%= result.user.name %> -> <%= result.movie.trakt_payload['title'] %>
  </p>

    <div class="movie-card">
      <img src="<%= result.movie.image_url %>" alt="">
      <h4><%= result.movie.trakt_payload["title"] %></h4>
      <p><%= result.movie.trakt_payload["year"] %>, Director</p>
    </div>

<% end %>

</div>




<!-- events/1/results/ -->


