<% if @pending_events.any? %>
  <h3><%= pluralize(@pending_events.count, 'invite') %></h3>

  <% @pending_events.each do |pending_event| %>

    <% date = pending_event.date.strftime '%A, %e %B' %>

    <p style="margin-bottom: 0">

      <%= link_to 'Reject',
        user_event_path(pending_event),
        method: :delete,
        data: { confirm: 'Are you sure?' },
        class: 'text-danger' %>

      <%= link_to 'Accept',
        user_event_path(pending_event),
        method: :patch,
        class: 'text-success' %>
      <br>
      <%= pending_event.name %> | <%= date %> | <%= pending_event.address %>
    </p>
    <%= render 'friends', event: pending_event %>
  <% end %>
<% else %>
  <h3 style="text-align: center">No pending invitations!</h3>
<% end %>

<% if @admin_events.any? %>
  <h3>Your events</h3>

  <% @admin_events.each do |admin_event| %>

    <% date = admin_event.date.strftime '%A, %e %B' %>

    <p style="margin-bottom: 0">

      <%= render 'links', event: admin_event %>

      <%= link_to 'Edit', edit_event_path(admin_event) %>

      <%= link_to 'Delete',
        event_path(admin_event),
        method: :delete,
        data: { confirm: 'Are you sure?' },
        class: 'text-danger' %>
      <br>
      <%= admin_event.name %> | <%= date %> | <%= admin_event.address %>
    </p>
    <%= render 'friends', event: admin_event %>
  <% end %>
<% else %>
  <h3 style="text-align: center">No events! <small><%= link_to 'Create one?', new_event_path %></small></h3>
<% end %>

<% if @accepted_events.any? %>
  <h3>Accepted events</h3>

  <% @accepted_events.each do |accepted_event| %>

    <% date = accepted_event.date.strftime '%A, %e %B' %>

    <p style="margin-bottom: 0">

      <%= render 'links', event: accepted_event %>

      <br>
      <%= accepted_event.name %> | <%= date %> | <%= accepted_event.address %>
    </p>
    <%= render 'friends', event: accepted_event %>
  <% end %>
<% else %>
  <h3 style="text-align: center">No accepted events</h3>
<% end %>
