<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

      <div class="event-form">
        <%= simple_form_for @event do |f| %>
          <div class="event-fields">
            <%= f.error_notification %>

            <%= f.input :date, required: true, label: false,
                        as: :string,
                        placeholder: 'When?',
                        input_html: { class: "datepicker" } %>

            <%= f.input :address, required: true, label: false,
                        as: :search,
                        placeholder: 'Where?' %>
            <div class="friends">
              <input type="email" name="emails[]"
                     class="form-control"
                     placeholder="friend@email.com">

              <input type="email" name="emails[]"
                     class="form-control"
                     placeholder="friend@email.com">
            </div>
            <%= f.button :submit, "Save", class: 'default-btn'%>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
