<h3>Swipe!</h3>

<div class="global-stack">
  <div class="stack">

  <% if @movies.any? %>
    <% @movies.each do |movie| %>
      <% next if @event.user_already_swiped(current_user, movie) %>

      <div class="card-trip" data-event-id="<%= @event.id %>" data-movie-id="<%= movie.id %>">
      <img src="<%= movie.image_url %>" height="300px" width="auto" alt="">

      <div class="card-trip-infos">

        <div>
          <h2><%= movie.trakt_payload['title'] %></h2>
        </div>
          <h2 class="card-trip-pricing"><%= movie.trakt_payload['year'] %></h2>

        <div style="display: flex; justify-content: space-between; width:68vw; position: relative;
        bottom: 26vh;" >
          <h6 class="no-left">No</h6>
          <h6 class="yes-right">Yes</h6>
        </div>
      </div>

      <!--         <div>
      <%#= link_to 'Nope', event_results_path(
      @event,
      preference: 'nope',
      movie_id: movie.id,
      user_id: current_user,
      event_id: @event.id
      ), method: :post, class: 'text-danger' %>

      <%#= movie.trakt_payload['title'] %>

      <%#= link_to 'Yep', event_results_path(
      @event,
      preference: 'yep',
      movie_id: movie.id,
      user_id: current_user,
      event_id: @event.id
      ), method: :post, class: 'text-success' %>
      </div> -->
      </div>

      <% else %>
      <h3 style="text-align: center">No matches!</h3>
      <% end %>

      <% end %>

  </div>
</div>



<% if @event.everyone_swiped?(@movies) %>
  <% controller.redirect_to event_results_path(@event) %>
<% end %>


