<h3>Welcome <%= current_user.name %>, set your watchlist:</h3>

<%= form_tag wishlists_path, method: :get do %>
  <p>
    <%= text_field_tag :query,
      params[:query],
      class: 'form-control',
      placeholder: 'Find a movie' %>
  </p>
<% end %>

<h3>Your watchlist <%= link_to 'Done', root_path %></h3>

<% @wishlists.each do |wishlist| %>
  <p>
    <%= wishlist.movie.trakt_payload['title'] %>
    <%= link_to 'Remove', wishlist, method: :delete %>
  </p>
<% end %>

<h3>Pick a movie</h3>
<!-- @movies.pluck(:id) & current_user.wishlists.pluck(:movie_id) -->
<% @movies.each do |movie| %>
  <% next if movie.preference?(current_user) %>
  <p>
    <%= movie.trakt_payload['title'] %>
    <%= link_to 'Add', {
          controller: 'wishlists',
          action: 'create',
          movie_params: {
            preference: 'yep',
            movie_id: movie.id,
            user_id: current_user
          }
        }, method: :post %>
  </p>
<% end %>
