<h3>Welcome <%= current_user.name %>, set your watchlist:</h3>

<%= form_tag wishlists_path, method: :get do %>
  <p>
    <%= text_field_tag :query,
      params[:query],
      class: 'form-control',
      placeholder: 'Find a movie' %>
  </p>
<% end %>

<h3>Your watchlist <%= link_to 'Done', root_path %></h3>

<% unless @wishlists.nil? %>
  <% @wishlists.each do |wishlist| %>
    <p>
      <%= wishlist.movie.id %>
      <%= wishlist.movie.trakt_payload['title'] %>
      <%= link_to 'Remove',
        wishlist,
        method: :delete,
        class: 'text-danger' %>
    </p>
  <% end %>
<% end %>

<h3>Pick a movie</h3>

<% unless @movies.nil? %>
  <% @movies.each do |movie| %>
    <p>
      <% if current_user.wishlists.where(movie: movie).empty? %>
        <%= movie.trakt_payload['title'] %>
        <%= render 'link_to_create',
          text: 'yep',
          movie: movie,
          color: 'text-success' %>
        <%= render 'link_to_create',
          text: 'nope',
          movie: movie,
          color: 'text-danger' %>
      <% else %>
        <span class="text-secondary" style="opacity: .3">
          <% next if current_user.wishlists.where(movie: movie).take.preference == 'yep' %>
          <%= movie.trakt_payload['title'] %>
          <%= link_to 'Revert',
            Wishlist.where(movie: movie, user: current_user).take,
            method: :delete,
            class: 'text-danger' %>
        </span>
      <% end %>
    </p>
  <% end %>
<% end %>
