  <h3 id="welcome">Welcome <%= current_user.name %>, set your watchlist:</h3>

  <%= form_tag wishlists_path, method: :get do %>
    <div class="wishlist-search">
              
      <div class="inner-addon right-addon">
        
        <div class="magnifier">
          <%= image_tag "search.png", alt: "Create your wishlist", width: 15 %>         
        </div>

        <p>
          <%= text_field_tag :query,
            params[:query],
            class: 'form-control', id: "search-field",
            placeholder: 'title, director, year, actor, genre' %>
        </p>
        
      </div>          
    </div>
  <% end %>

<div class="watchlist">
  <h3>Your watchlist</h3>
  <h4 id="done-button"><small><%= link_to 'Done', root_path %></small></h4>
  <% unless @wishlists.nil? %>
    <% @wishlists.each do |wishlist| %>
      <p>
        <%#= wishlist.movie.id %>

        <%= wishlist.movie.trakt_payload['title'] %>

        <%= link_to 'Remove',
          wishlist,
          method: :delete,
          class: 'text-danger' %>
      </p>
    <% end %>
  <% end %>
</div>

<div class="pick-movie">
  <h3 id="select-movie">Pick a movie</h3>

  <% unless @movies_payload.nil? %>
    <% @movies_payload.each do |movie| %>
      <div class="movie-card"  style="display:flex;justify-content:space-between;align-items: center">

        <% if current_user.wishlists.where(movie: movie).empty? %>
          <%#= movie.id %>
        <div>
          <div class="movie-title">
            <%= movie.trakt_payload['title'] %>           
          </div>
          
          <div class="movie-year">
            <%= movie.trakt_payload['year'] %>           
          </div>
        </div>

            <%= render 'link_to_create',
              text: 'Add',
              movie: movie %>
          <%#= render 'link_to_create',
            text: 'nope',
            movie: movie,
            color: 'text-danger' %>

        <% else %>

          <span class="text-secondary" style="opacity: .3">
            <% next if current_user.wishlists.where(movie: movie).take.preference == 'yep' %>

            <%= movie.trakt_payload['title'] %>

            <%#= link_to 'Revert',
              Wishlist.where(movie: movie, user: current_user).take,
              method: :delete,
              class: 'text-danger' %>
          </span>
        <% end %>

      </div>
    <% end %>
  <% end %>  
