<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Popcornchill</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon" href="/images/icons/icon-152x152.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/icon-152x152.png">

    <link rel="manifest" href="/manifest.json">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script>
      PLACES_API_KEY = "<%= ENV['PLACES_API_KEY'] %>";
    </script>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' unless current_page? root_path %>
    <%= render 'shared/flashes' unless current_page? root_path %>

    <%= yield %>

    <%= render 'shared/footer' unless current_page? root_path %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'swing' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
